@using GameHUB.Models.Commerce
@model GameHUB.Models.ViewModels.CategoryViewModel<GameHUB.Models.Commerce.Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CurrentContent.Name</h2>


<div class="card-columns">
    @*@Html.PropertyFor(m => m.Products)*@
    @foreach (var product in Model.Products)
    {
        @Html.Action("Index", "ProductTeaser", new {currentContent = product})
        @*@Html.Partial(product)
        if (product is GameProduct)
        {
            @Html.Partial("Commerce/_GameProduct", product)
        }
        if (product is ModProduct)
        {
            @Html.Partial("Commerce/_ModProduct", product)
        }
        if (product is MerchProduct)
        {
            @Html.Partial("Commerce/_MerchProduct", product)
        }*@
    }
</div>
